source [find target/CHIP-BUSJTAG/CHIP.tcl ]

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
   set  _CHIPNAME chipName
}

# CoreSight Debug Access Port
if { [info exists DAP_TAPID] } {
        set _DAP_TAPID $DAP_TAPID
} else {
        set _DAP_TAPID 0x5ba00477
}


adapter srst delay 500

adapter speed 6000

jtag newtap $_CHIPNAME dap -irlen 4 -expected-id $_DAP_TAPID

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.dap

cti create $_CHIPNAME.cti -dap $_CHIPNAME.dap  

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME aarch64 -dap $_CHIPNAME.dap -coreid 0 -dbgbase 0x80010000 -apsel 2 -cti $_CHIPNAME.cti 

target smp $_TARGETNAME

# setup working area somewhere in internal RAM
$_TARGETNAME configure -work-area-phys 0x80000000 -work-area-size 0x2000 

$_TARGETNAME configure -event reset-assert-post {
 echo "init debug.."
 aarch64 dbginit
}

$_TARGETNAME configure -event reset-assert {
 echo "reset init..."
}

proc read_otp { {addr 0x0} {len 0x4} } {
#read otp for CHIP

echo "*********************************************"
echo "*       -Author: Security group          *"
echo "*       -usage: read_otp {addr} {len}       *"
echo "*********************************************"

set otp_raddr 0xf8ab4028 
set otp_rdata 0xf8ab4020 

set start_addr $addr
set end_addr [expr $len + $start_addr]

for {set i $start_addr} {$i < $end_addr} {set i [expr $i + 0x4]} {
    set i [format "0x%03x"   $i]
    mww $otp_raddr $i
    mww 0xf8ab4000 0x3
    echo $i
    mdw $otp_rdata    
}

echo "---------------------------------------------"

}

